body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.hanging {
  text-indent: -22px;
  padding-left: 22px;
}

.copyright {
    color: #857874;
}

.footer {
    text-align: center;
}

.footer a {
    color: #041e42;
}

.sidebar h1 {
    color: #041e42;
    font-size: 1.3em;
}

.sidebar a {
    color: #857874;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #041e42;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #041e42;
    font-size: 1.3em;
}

.author {
    color: #041e42;
}

.author a {
    color: #041e42;
}
