{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Title and coauthors-->
    {% if post.coauthors %}
      {% if post.paperurl %}
        <p><b><a href="{{ post.paperurl }}">{{ title }}</a></b> with {{ post.coauthors }}.</p>
      {% else %}
        <p>{{ title }} with {{ post.coauthors }}.</p>
      {% endif %}
      {% else %}
        {% if post.paperurl %}
          <p><b><a href="{{ post.paperurl }}">{{ title }}</a></b></p>
        {% else %}
          <p><b>{{ title }}</b></p>
        {% endif %}
    {% endif %}

	<!-- Publication journal, date -->
	<div style="margin-left: 1.5em;">
	{% if post.collection == 'teaching' %}
	  <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}. </p>
	{% elsif post.collection == 'publications' %}
	  <p>Published in <i>{{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}</i>. </p>
  {% elsif post.collection == 'appearances' %}
	  <p><i>{{ post.venue }}. {{ post.date | default: "1900-01-01" | date: "%B, %Y" }}</i>. </p>
	{% elsif post.collection == 'portfolio' %}
	  <p><i>{{ post.venue }}. {{ post.date | default: "1900-01-01" | date: "%B, %Y" }}</i>. </p>
	{% elsif post.date %}
	 <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
	{% endif %}
	</div>

	<!-- Read more -->
<!--     {% if post.excerpt and site.read_more != 'enabled' %}
    	<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    	<p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %} -->

    <!-- Abstract -->
    {% if post.abstract %}
		<div style="margin-left: 1.5em;">
			<p class="archive__item-abstract" itemprop="description">{{ post.abstract | markdownify }}</p>
		</div>
	{% endif %}

    <!-- Link -->
    <div style="margin-left: 1.5em;">
    <p>
    {% if post.replicationdataurl %}
    	<a href = "{{ post.replicationdataurl }}">Replication Data</a>.
    {% endif %}
    {% if post.voxeuurl %}
    	<a href = "{{ post.voxeuurl }}">VoxEU</a>.
    {% endif %}
    </p>
    </div>
    

    
    <!-- Citation and URL -->
<!--     {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %} -->

  </article>
</div>
